<div class="jumbotron text-center">
  <h3>Marys Auto</3>
    <h3 class="display-3">
      <p class="lead">Web app for tracking auto repairs</p>
    </h3>
</div>

<body>
  <div class="jumbotron">
    <h1>
      About Us
    </h1>
    <div class="fillerInfo">
      <br />
      <p>
      <h3>View Work Orders</h3>
      To view all work wrders, go to the main page by clicking on the <br />
      Mary's Auto text at the top right. Go to View Work Orders from there. <br />
      <br />
      <h3>Add Work Orders</h3>
      To add work orders, click on Add Work Orders in the main page. <br />
      <br />
      <h3>Daily Progress</h3>
      To view daily progress, click on Daily Progress in the main page. <br />
      The Daily Progress page displays a table containing the sum of <br />
      the work orders completed on the date accessed. It also contains <br />
      the sum of each work order price on the date accessed, to produce <br />
      a daily revenue.
      </p>

    </div>
  </div>
</body>
<footer>
  <p>First Version (V 1.00)</p>
</footer>