<div class="jumbotron text-center">
  <h3>Marys Auto</3>
  <h3 class="display-3">
    <p class="lead">Web app for tracking auto repairs</p>
  </h3>
</div>

<footer>
  <p>First Version (V 1.00)</p>
</footer>