<div class="jumbotron text-center">
  <h3>Marys Auto</3>
    <h3 class="display-3">
      <p class="lead">Web app for tracking auto repairs</p>
    </h3>
</div>

<body>
  <div class="fillerInfo">
    <p>
      Sit proin scelerisque porta egestas mi mi nibh nulla proin parturient. Hendrerit mauris porttitor gravida per
      convallis suscipit interdum curabitur vivamus condimentum dignissim quam. Mollis commodo sapien, hendrerit congue
      ligula justo faucibus commodo. Lobortis dignissim leo mollis. Vestibulum habitant augue nec proin faucibus turpis
      arcu augue et nostra augue erat. Vivamus quisque mattis aenean amet urna maecenas consectetur consectetur bibendum
      nascetur enim. Praesent egestas natoque quam massa turpis vehicula habitant tellus porta? Vivamus suspendisse
      malesuada velit bibendum dapibus placerat. Mus egestas habitant primis facilisis.
    </p>
    <p>
      Sapien potenti sem sociosqu. Sociis porta nibh lacinia sit sed ornare quis curabitur aliquam! Rhoncus montes netus
      dignissim. Lobortis egestas, dictumst sem vitae dictumst primis elit risus tristique adipiscing. Nec sem ad
      molestie at ut varius ante ut! Ultricies malesuada facilisi imperdiet congue. Libero sodales pretium, erat
      volutpat suscipit diam. Aptent.
    </p>
    <p>
      Fringilla, platea morbi taciti integer cursus. Congue proin risus potenti tortor, hac auctor egestas. Porta augue
      vivamus dignissim dictum donec. Consequat porta, potenti vivamus arcu. Ac sollicitudin pulvinar duis phasellus
      facilisis lacinia. Iaculis ante leo erat ullamcorper porttitor enim turpis vulputate lobortis dictum! Facilisi
      vestibulum quis platea auctor in ultrices volutpat commodo scelerisque leo facilisis. Natoque tempor nam, mattis
      ornare sit egestas placerat pretium. Primis ligula sodales pulvinar faucibus varius ipsum phasellus. Natoque neque
      iaculis tristique tincidunt fames praesent convallis. Ullamcorper gravida vivamus sociis tincidunt. Odio taciti
      eleifend bibendum felis aliquet fusce! Dui.
    </p>

  </div>
</body>
<footer>
  <p>First Version (V 1.00)</p>
</footer>