<div class="jumbotron text-center">
  <h3>Marys Auto</3>
    <h3 class="display-3">
      <p class="lead">Web app for tracking auto repairs</p>
    </h3>
</div>

<body>

  <div class="fillerInfo">
    <p>
      Welcome Back! Please select from the following options!
    </p>
    <div>
      <table>
        <tr>
          <td style="width:50%;height:20%">
            <div name="viewOrders" class="card">
              <a href="/order/viewWorkOrders">
                <img class="card-img mx-auto d-block"
                  src="https://publicdomainvectors.org/download.php?file=1536431611.svg" style="height:250px">
                <div class="card-img-overlay card-body">
                  <p class="btn btn-secondary btn-block">View Work Orders</p>
                </div>
              </a>
            </div>
          </td>
          <td style="width:50%;height:20%">
            <div name="addOrders" class="card">
              <a href="/order/add">
                <img class="card-img mx-auto d-block"
                  src="https://onedonation.org/wp-content/uploads/2017/04/Transaction-1030x1030.png"
                  style="width:70%;height:250px">
                <div class="card-img-overlay">
                  <p class="btn btn-secondary btn-block">Add Work Orders</p>
                </div>
              </a>
            </div>
          </td>
          <td style="width:50%;height:20%">
            <div name="" class="card">
                <img class="card-img mx-auto d-block"
                style="width:70%;height:250px">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width:50%;height:20%">
            <div name="dailyOrders" class="card">
              <a href="/order/dailyProgress">
                <img class="card-img mx-auto d-block" 
                src="https://www.swaploader.com/wp-content/uploads/2015/02/bar-graph.png" 
                style="width:70%;height:250px">
                <div class="card-img-overlay">
                  <p class="btn btn-secondary btn-block">Daily Activity</p>
                </div>
              </a>
            </div>
          </td>
          <td style="width:50%;height:20%">
            <div name="about" class="card">
              <a href="/about">
                <img class="card-img mx-auto d-block" 
                src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.6435-9/fr/cp0/e15/q65/73198532_102977621142757_6211507790830108672_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=85a577&_nc_ohc=kO7kYF11LBQAX9ph5aC&_nc_ht=scontent-msp1-1.xx&tp=14&oh=2802595782c41d7e693a953c407141b7&oe=60A2892F" 
                style="width:70%;height:250px">
                <div class="card-img-overlay">
                  <p class="btn btn-secondary btn-block">About Us</p>
                </div>
              </a>
            </div>
          </td>
        </tr>

    </div>
    </table>
  </div>
  </div>
</body>
<footer>
  <p>First Version (V 1.00)</p>
</footer>