<body>
  <h1>
    Add Work Orders
  </h1>
  <div class="mainForm">
    <form method="post" action="./submitWorkOrder">
      <div class="controls">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="form_name">First Name</label>
              <input id="lname" required="" type="text" name="fname" class="form-control" placeholder="Tony">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="form_name">Last Name</label>
              <input id="lname" type="text" required="" name="lname" class="form-control" placeholder="Fierro">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="form_phone">Phone</label>
              <input placeholder="1234567890" required="" id="form_phone" type="tel" name="phoneNumber" class="form-control">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="form_name">Vehicle Make</label>
            <input id="lname" type="text" required="" name="make" class="form-control" placeholder="Tony">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="form_name">Vehicle Model</label>
            <input id="lname" required="" type="text" name="model" class="form-control" placeholder="Fierro">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="form_name">Vehicle Year</label>
            <input id="cost" type="number" name="year" class="form-control" required="required" data-error="Enter Year"
               placeholder="2006">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="form_name">Cost Estimate</label>
            <input id="cost" type="number" name="cost" class="form-control" required="required" data-error="Enter Cost"
               placeholder="200">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="form_message">Problem Description</label>
            <textarea id="form_message" name="problems" class="form-control" placeholder="Detailed list of problems"
              rows="4" required="required" data-error="Enter Description."></textarea>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-12">
        <input type="submit" class="btn btn-warning btn-send" value="Submit Work Order">
      </div>

    </form>
  </div>
</body>
<footer>
  <p>Version 1.09</p>
</footer>